<a href="https://colab.research.google.com/github/AdRavi89/TugasKuliahUSM/blob/main/Praktikum_Algoritma_Pemprograman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A. Pengenalan Phyton

In [ ]:
print ("Python itu sangat simple broo");

D. Tipe Data Phyton

In [ ]:
from pickle import FALSE
#tipe data Boolean
print (True)
print (False)

#tipe data String (karakter)
print ("FTIK USM, Progdi Teknik Informatika")
print ('FTIK USM, Progdi Teknik Informatika')

#tipe data Integer (Bilangan Bulat Positif)
print (80)

#tipe data float (Tipe Data Biangan Desimal)
print (3.14)

#tipe data Complex (menyatakan pasangan angka real dan imajiner)
print (5j)

#tipe data List (data yang menyimpan beda kurung siku)
print ([1,2,3,4,5])
print (("satu", "dua", "tiga"))

#tipe data Tuple (selalu memakai kurung buka tutup)
print ((1,2,3,4,5))
print (("satu", "dua", "tiga"))

#tipe data Dictionary (selalu memakai kurung kurawal)
print({"nama":"Joko", 'umur':22})

#type data Dictionary dimasukan ke dalam variable biodata
biodata = {"nama":"Ani", 'umur' :20} #proses inisialisasi variabel biodata
print (biodata)
#fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'>
#yang berarti dict adalah type data dictionary
type (biodata)

E. Variabel Python

In [ ]:
#proses memasukan data ke dalam variabel
nama = "Universitas Semarang"
#proses mencetak variabel
print (nama)

#nilai dan tipe data dalam variabel dapat diubah
umur = 20                 #nilai awal
print (umur)              #mencetak nilai umur
type (umur)               #mencetak tipe data umur
umur = "dua puluh satu"   #nilai setelah diubah
print (umur)              #mencetak nilai umur
type (umur)               #mengecek tipe data umur

namaDepan ="Rudin"
namaBelakang="Ndeso"
nama = namaDepan + " " + namaBelakang
umur = 29
hobi = "Badminton"
print ("Biodata\n", nama, "\n", umur, "\n", hobi)

#contoh variable lainnya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye"

panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

note "\n" artinya pindah baris ke bawah

BAB 2. OPERATOR

A. OPERATOR ARITMATIKA

PENJUMLAHAAN

In [ ]:
#Penjumlahan
print(13+2)
apel = 7
jeruk = 9
buah = apel + jeruk #
print (buah)

PENGURANGAN

In [ ]:
#Pengurangan
hutang = 10000
bayar = 5000
sisaHutang = hutang - bayar
print ("Sisa hutang kita adalah", sisaHutang)

Sisa hutang kita adalah 5000

PERKALIAN

In [ ]:
#Perkalian
panjang = 15
lebar = 8
luas = panjang * lebar
print(luas)

PEMBAGIAN

In [ ]:
#Pembagian
kue = 16
anak = 4
KuePerAnak = kue / anak
print ("Setiap anak akan mendapatkan bagian kue sebanyak", KuePerAnak)

SISA BAGI %

In [ ]:
#Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2
print ("Sisa bagi dari bilangan", bilangan1, "dan", bilangan2, "adalah", hasil)

Sisa bagi dari bilangan 14 dan 5 adalah 4

PANGKAT **

In [ ]:
#Pangkat
bilangan3 = 8
bilangan4 = 2
hasilPangkat = bilangan3 ** bilangan4
print (hasilPangkat)

PEMBAGIAN BULAT //

In [ ]:
#Pembagian Bulat
print (10//3)
#10 dibagi 3 adalah 3.3333 Karena dibulatkan maka akan menghasilkan nilai 3

**D. OPERATOR LOGIKA (Logical Operator)**

AND

In [ ]:
a, b = True, True
#hasil akan True
print (a and b)

OR

In [ ]:
a, b = True, False
#hasil akan True
print (a or b)
print (b or a)
print (a or a)
#hasil akan False
print (b or b)

NOT

In [ ]:
a, b = True, False
#hasil akan True
print (not a)
print (not b)

False
True

In [ ]:
print ("**********************************************************")
print ("         APLIKASI LUAS dan KELILING RUANG BANGUN          ")
print ("**********************************************************")

s=float(input("masukan sisi persegi                       = "))
a=float(input("masukan alas segitiga                      = "))
c=float(input("masukan sisi miring segitiga               = "))
d=float(input("masukan sisi miring segitiga               = "))
t=float(input("masukan tinggi segitiga                    = "))
b=float(input("masukan alas jajar genjang                 = "))
m=float(input("masukan sisi miring sejajar jajar genjang  = "))
h=float(input("masukan tinggi jajar genjang               = "))
L1=s**(2)
L2=(a*t)/2
L3=b*h
K1=4*s
K2=c+d+a
K3=(2*b)+(2*m)
print ()
print ("**********************************************************")
print ("            HASIL PERHITUNGAN RUANG BANGUN                ")
print ("**********************************************************")

print ("                   LUAS RUANG BANGUN                      ")
print ("==========================================================")
print ("Luas Persegi            =",L1)
print ("Luas Segitiga           =",L2)
print ("Luas Jajar Genjang      =",L3)
print ()

print ("                  KELILING RUANG BANGUN                      ")
print ("==========================================================")
print ("Keliling Persegi        =",K1)
print ("Keliling Segitiga       =",K2)
print ("Keliling Jajar Genjang  =",K3)
print ("**********************************************************")

**********************************************************
         APLIKASI LUAS dan KELILING RUANG BANGUN
**********************************************************
masukan sisi persegi                       = 7
masukan alas segitiga                      = 0
masukan sisi miring segitiga               = 0
masukan sisi miring segitiga               = 0
masukan tinggi segitiga                    = 0
masukan alas jajar genjang                 = 0
masukan sisi miring sejajar jajar genjang  = 0
masukan tinggi jajar genjang               = 0

**********************************************************
            HASIL PERHITUNGAN RUANG BANGUN
**********************************************************
                   LUAS RUANG BANGUN
==========================================================
Luas Persegi            = 49.0
Luas Segitiga           = 0.0
Luas Jajar Genjang      = 0.0

                  KELILING RUANG BANGUN
==========================================================
Keliling Persegi        = 28.0
Keliling Segitiga       = 0.0
Keliling Jajar Genjang  = 0.0
**********************************************************

proses input output tanpa proses

selama memakai kata input dianggap sebagai karakter walaupun itu angka

kalau memakai fload input di anggap numerik / desimal

BAB. 3 SEKSI KONDISI

A. Kondisi if

In [ ]:
#sample if 1

nilai = 11
#jika kondisi benar/TRUE maka program akan mengeksekusi perintah dibawahnya
if(nilai > 7):
  print ("Selamat kita Lulus")
#jika kondisi perintah salah/FALSE maka program tidak akan mengeksekusi perintah dibawahnya
if(nilai > 10):
  print ("Selamat Kita Lulus")

Selamat kita Lulus
Selamat Kita Lulus

**Kondisi If Else **

In [ ]:
#Sample IF Else 1, if.py

nilai =
#jika pernyataan pada if bernilai TRUE maka if akan di eksekusi tetapi jika FALSE kode pada else yang akan dieksekusi
if(nilai > 7):
  print ("Selamat Kita Lulus")
else:
  print ("Maaf Kita Tidak Lulus")

In [ ]:
#Sample If Else 2, if2.py

kunci="keren"
password=input("masukan password = ")
if password==kunci :
  print ("Password Benar")
else :
  print ("password Salah")

In [ ]:
#Sampe IF Else 3, if3.py

angka = input ("masukan Suatu Bilangan = ")
if angka > "0" :
  print ("Bilangan Positif")
elif angka < "0":
  print ("Biangan Negatif")
else :
  print ("Merupakan 0")

In [ ]:
#Sample If Else 4, if4.py
#fload dianggap desimal
#int dianggap bilangan bulat
#nested atau bersarang = program didalam program

i= float (input ("masukan bilangan : "))
if i%2 == 0:
    if i != 0 :
        print (i,"adalah bilangan genap")
    else :
        print ("angka 0")
else :
    print ("adalah bilangan ganjil")

    #jika 0 tidak sama dengan 0 maka bilangan genap

In [ ]:
i= float (input ("masukan bilangan : "))
if i%2 == 0:
    if i == 0 :
        print (i,"adalah bilangan nol")
    else :
        print ("bilangan genap")
else :
    print ("adalah bilangan ganjil")

masukan bilangan : 0
0.0 adalah bilangan nol

C. KONDISI ELIF

In [ ]:
#SAMPLE ELIF 1 : if5.py

#input ("hari_ini = ")
hari_ini = "Minggu"


if(hari_ini == "Senin") :
    print ("Saya akan kuliah")
elif(hari_ini == "Selasa") :
    print ("Saya akan kuliah")
elif(hari_ini == "Rabu"):
    print("Saya akan kuliah")
elif(hari_ini == "Kamis"):
    print("Saya akan kuliah")
elif(hari_ini == "Jumat"):
    print("Saya akan kuliah")
elif(hari_ini == "Sabtu"):
    print("Saya akan kuliah")
elif(hari_ini == "Minggu"):
    print("Saya akan libur")

In [ ]:
x = input("masukan angka = ")
if x < "5" :
  print (x, "lebih kecil dari 5")
elif x == "5" :
  print (x, "sama dengan 5")
else :
    print (x, "lebih besar dari 5")

masukan angka = 11
11 lebih kecil dari 10

**BAB 4 PENGULANGAN**

**A. WHILE**

In [ ]:
#Contoh penggunaan While Loop

#syrat ( Nilai awal, nilai akhir, increament(nilai akhir lebih besar dari awal/Decreament nilai akhir lebih besar dari awal)
hitung = 0
while (hitung < 2):
    print ('Mari berhitung kakak :', hitung)
    hitung = hitung + 1
print ("Sampai Jumpa!")

Mari berhitung kakak : 0
Mari berhitung kakak : 1
Sampai Jumpa!

**B. FOR**

In [ ]:
#Contoh perulangan for sederhana, for.py
angka = [1,2,3,4,5,6]
for x in angka:
    print(x)

1
2
3
4
5
6

In [ ]:
#salah satu contoh perulangan dengan else
counter = 2
while counter < 3:
  print("inside loop")
  counter = counter + 1
else :
    print("inside else")

inside loop
inside else

In [ ]:
#Contoh perulangan for, for2.py
buah = ["nanas", "apel", "jeruk"]
for makanan in buah:
    print("Saya suka makan", makanan)

In [ ]:
student_name = "soyuj"
mark = {'james':90, 'Jules':55, 'Arthur':77}
for student in mark
    if student == student_name:

catatan khusus
for it (i=1 (nilai awal) i>10 (niai akhir), i++(increment))

list []
tuple {}
dictionary ()

**C. NESTED**

In [ ]:
#Contoh penggunaan Nested Loop, while.py
i = 2
while(i < 100):
    j = 2
    while(j <= (i/j)):
        if not(i%j): break
        j = j + 1
    if (j > i/j) : print(i, " FTIK USM")
    i = i + 1

print ("Mari Bergabung Bersama FTIK USM, FTIK..Joss!")

2  FTIK USM
3  FTIK USM
5  FTIK USM
7  FTIK USM
11  FTIK USM
13  FTIK USM
17  FTIK USM
19  FTIK USM
23  FTIK USM
29  FTIK USM
31  FTIK USM
37  FTIK USM
41  FTIK USM
43  FTIK USM
47  FTIK USM
53  FTIK USM
59  FTIK USM
61  FTIK USM
67  FTIK USM
71  FTIK USM
73  FTIK USM
79  FTIK USM
83  FTIK USM
89  FTIK USM
97  FTIK USM
Mari Bergabung Bersama FTIK USM, FTIK..Joss!

D. SAMPLE PROGRAM

In [ ]:
#Contoh 1, whileIf.py:
nama = "rudin"
kunci = "ndeso"
a=0
while a!=3 :
    username = input ("masukan username : ")
    password = input ("masukan password : ")
    if username == nama and password == kunci :
        print ("password benar")
        break
    elif username == nama or password == kunci:
        print ("user or password error")
    else :
        print ("password salah")
    a=a+1
if a==3:
    print ("sudah 3x input")

user or password error
user or password error

In [ ]:
#Contoh 2:

#Contoh math.py
import math
r=float(input("jari-jari lingkaran="))
luas=math.pi*r*r
print ("Luas lingkaran=",luas)

jari-jari lingkaran=4
Luas lingkaran= 50.26548245743669

**BAB 5. NUMBER, STRING, TANGGAL DAN WAKTU**

B. STRING

1. mengakses niai dalam string

In [ ]:
nama    = 'FTIK USM'
pesan   = "Belajar bahasa Python di FTIK USM"
print ("Nama [0]: ", nama [0])
print ("Pesan [1:4]: ", pesan [1:4])

Nama [0]:  F
Pesan [1:4]:  ela

2. Mengupdate String

In [ ]:
pesan   = 'FTIK USM'
print ("Perbarui data tipe string :-", pesan[:6] + 'Python' )

Perbarui data tipe string :- FTIK UPython

Operator Spesial String Python

In [ ]:
a = "Belajar"
b = "Python"

print (a+b)

print (a*2)

print (a[1])

print (a[1:4])

#print (B in a)

#print z not in a

#print (r'\n'prints\n dan print R'\n' prints \n)

BelajarPython
BelajarBelajar
e
ela

Operator Format String Python

In [ ]:
print ("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

Triple Quote Python

In [ ]:
kutipantiga = """ini adalah string panjang yang terdiri dari beberapa baris dan karakter yang tidak dapat dicetak seperti TAB (\ t) dan mereka akan muncul seperti itu ketika ditampilkan.
NEWLINE di dalam string, baik secara eksplisit diberikan seperti ini di dalam kurung [\ n], atau hanya NEWLINE di dalam penugasan variabel juga
akan muncul."""
print (kutipantiga)

ini adalah string panjang yang terdiri dari beberapa baris dan karakter yang tidak dapat dicetak seperti TAB (\ t) dan mereka akan muncul seperti itu ketika ditampilkan.
NEWLINE di dalam string, baik secara eksplisit diberikan seperti ini di dalam kurung [\ n], atau hanya NEWLINE di dalam penugasan variabel juga
akan muncul.

C. Tanggal dan Waktu

1. apa itu tick

In [ ]:
import time;  # Digunakan untuk meng-import modul time

ticks = time.time()
print ("Berjalan sejak 1.00am, 1 Desember 2019:", ticks)

Berjalan sejak 1.00am, 1 Desember 2019: 1666287023.0133662

 2.Apa itu TimeTuple Python?

3. Mendapatkan Waktu dengan Python

In [ ]:
#waktu Saat ini
import time;

localtime = time.localtime(time.time())
print ("Waktu Kita saat ini adalah :", localtime)

Waktu Kita saat ini adalah : time.struct_time(tm_year=2022, tm_mon=10, tm_mday=20, tm_hour=17, tm_min=32, tm_sec=1, tm_wday=3, tm_yday=293, tm_isdst=0)

In [ ]:
# Waktu yang berformat
import time;

localtime = time.asctime( time.localtime(time.time()) )
print ("Waktu Kita saat ini adalah :", localtime)

Waktu Kita saat ini adalah : Thu Oct 20 17:32:57 2022

In [ ]:
# Kalender Sebulan
import calendar

cal = calendar.month(2019, 12)
print ("Dibawah ini adalah kalender:")
print (cal)

Dibawah ini adalah kalender:
   December 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

LATIHAN BAB 5.

**BAB 6  FUNGSI DAN MODUL**

In [ ]:
#contoh 1
def cetak_string (par1, par2) :
  print ("NIM Anda adalah = ", par1)
  print ("Nama Anda adalah = ", par2)

def hitung (a, b) :
  print ("Hasil penjumlahan ",a,"+",b,"adalah", (a+b))

#main program
nama = input ("Masukan NIM Anda = ")
nim = input ("Masukan Nama Anda = ")
cetak_string (nama,nim)
bil1=10
bil2=12
hitung (bil1, bil2)

Masukan NIM Anda = agung
Masukan Nama Anda = 2aaa
NIM Anda adalah =  agung
Nama Anda adalah =  2aaa
Hasil penjumlahan  10 + 12 adalah 22

In [ ]:
#Contoh 2

def input_data ():
  "fungsi pertama"
  nama = input ("Masukan Nama : ")
  nim = input ("Masukan NIM   : ")

def cetak_string () :
  print ("ini adalah fungsi cetak string")
  print ("silahkan masukan data")
  input_data ()

cetak_string ()

ini adalah fungsi cetak string
silahkan masukan data
Masukan Nama : agung dwi
Masukan NIM   : dfljfsihf

B. MODUL

In [ ]:
def cetak_fungsi ( par ) :
  print ("Selamat datang di FTIK USM : ", par)
  return

In [ ]:
#Import module fungsi1
import fungsi1

#kita bisa memanggil fungsi defined sebagai berikut
fungsi1. cetak_fungsi ("Andy")

ModuleNotFoundError: ignored

BAB 7 : BAB 7  LIST, TUPLE, DICTIONARY,
OBJECK, DAN CLASS

A. LIST
1. Membuat List

In [ ]:
list1 = ['TI', 'SI', 'ILKOM', 2010, 2006]
list2 = [1, 2, 3, 4, 5]
list3 = ["x", "y", "z", "w"]

2. Akses Nilai dalam List

In [ ]:
#Cara mengakses nilai di dalam list Python
list1 = ['TI', 'SI', 'ILKOM', 2010, 2006]
list2 = ["x", "y", "z", "w"]

print ("listl[0]: ", list1 [0])
#jika angka diganti akan berbeda nilai yang keluar,
#0 urutan pertama, 1 urutan kedua
print ("list2 [1:5]: ", list2 [1:5])

listl[0]:  TI
list2 [1:5]:  ['y', 'z', 'w']

3. Update Nilai dalam List

In [ ]:
list1 = ['TI', 'SI', 'ILKOM', 2010, 2006]
print ("Nilai ada pada index 2 : ", list1[2])

list1[2] = 2001
print ("nilai baru ada pada index 2 : ", list1[2])

Nilai ada pada index 2 :  ILKOM
nilai baru ada pada index 2 :  2001

4. Hapus Nilai dalam List

In [ ]:
#Contoh cara menghapus nilai pada list phyton
list1 = ['TI', 'SI', 'ILKOM', 2010, 2006]
print (list)
del list[2]
print ("Setelah dihapus nilai pada index 2 :", list)

['TI', 'SI', 2010, 2006]
Setelah dihapus nilai pada index 2 : ['TI', 'SI', 2006]

5. Operasi Dasar pada List

In [ ]:
len([1,2,3,4])
#lenght

4

In [ ]:
[1,2,3]+[4,5,6]
#concatenation

[1, 2, 3, 4, 5, 6]

In [ ]:
['Halo']*4
#Repetition

['Halo', 'Halo', 'Halo', 'Halo']

In [ ]:
2in[1, 2, 3]

True

In [ ]:
for x in [1,2,3] : print (x, end='')

123

6. Indexing, Slicing dan Matrix pada List

In [ ]:
L = ['C++', 'Java', 'Python']

L [2]

'Python'

In [ ]:
L = ['C++', 'Java', 'Python']


L[-2]

'Java'

In [ ]:
L = ['C++', 'Java', 'Python']

L[1:]

['Java', 'Python']

7. Method dan Fungsi Build-in pada List

B. Tuple

In [ ]:
#Contoh sederhana pembuatan tuple
#Pada bahasa pemrograman python

tump1= ('Fisika', 'Kimia', 1993, 2017)
tump2= (1, 2, 3, 4, 5)
tump3= "a", "b", "c" "d"

1. akses nilai daam Tuple